<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle}}</title>
    <link rel="stylesheet" href="css/footer_homesite.css">
    <link rel="stylesheet" href="css/course_detail.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        {{>search-header}}
        <div class="header-top">
            <ul class="direction">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">root-dir</a></li>
                <li><a href="#">main dir</a></li>
            </ul>
        </div>
        <div class="header-bot">
            
        </div>
    </header>
    <main>

    </main>
    <footer>
        {{>footer-index}}
    </footer>
</body>

</html>