<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Học Online tại EduOYK - Nền tảng học tập trực tuyến hàng đầu Đông Nam Á với hơn 3000+ Khoá Học và 3 triệu học viên. Đồng hành cùng EduOYK là đội ngũ giảng viên, chuyên gia hàng đầu trong nhiều lĩnh vực">
    <link rel="icon" type="image/png" href="images/icon.png" sizes="32x32"/>
    <title>Học Online với 3000+ Khoá Học từ những Chuyên Gia hàng đầu | EduOYK</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/section.css"/>
    <link rel="stylesheet" href="css/footer_homesite.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/star.css">
    <link rel="stylesheet" href="css/product-menu.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascript/test.js"></script>
    <script src="javascript/Star.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class ="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="index" class="active">Trang chủ</a></li>
                <li><a href="CourseActivate" class="active">Kích hoạt khóa học</a></li>
                <li><a href="#" class="active">Kiểm tra đơn hàng</a></li>
                <li><a href="faq" class="active">Chăm sóc khách hàng</a></li>
                <li><a href="BecomeInstructor" class="active">Trở thành giảng viên</a></li>
                <li><a href="#" class="active">Khóa học của tôi</a></li>
            </ul>
        </nav>
        <div class="search-box">
            <div class="header__logo">
                <img src="images/logo1.png" width=140px height="40px">
            </div>
            <div class="box">
                <input class="search__txt" type="text" name="" placeholder="Tìm kiếm khóa học ngay" size=35>
                <div class="search_history">
                    <hr>
                    <h6 class="search_history_heading">Từ khóa phổ biến</h6>
                    <ul class="history_list">
                        <li class="history_item">
                            <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Cách học giỏi tiếng anh</a>
                        </li>
                        <li class="history_item">
                            <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Cách kinh doanh</a>
                        </li>
                        <li class="history_item">
                            <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Học guitar</a>
                        </li>
                        <li class="history_item">
                            <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Lập trình python</a>
                        </li>
                        <li class="history_item">
                            <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Yoga</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-btn-pos">
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </div>
            <div class="cart-btn-pos">
                <div class="cart-btn-focus" id="cart-btn-click">
                    <i class="cart-btn fas fa-shopping-cart" id="cart-item"></i>
                    <div class="cart_list" id="cart_list_focus">
                        <!--                        <i class="list_ca fas fa-shopping-cart"></i>
                        <p>Bạn chưa có khóa học nào trong giỏ hàng</p> -->
                        <p class="check-num-card">Giỏ hàng - 0 khóa</p>
                        <div class="scroll-container-item">
                            <a href="#">
                                <div class="shop-cart-course">
                                    <img class="card-img-shop" src={{intro_image}} alt="">
                                    <div class="container-cart-item">
                                        <p class="title-in-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iusto, earum eius impedit dolorem esse maiores error nihil rerum voluptatem dolorum nam accusantium consequuntur atque, magnam laboriosam asperiores autem itaque.</p>
                                        <p class="price-in-cart">189.909 đ</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="shop-cart-course">
                                    <img class="card-img-shop" src={{intro_image}} alt="">
                                    <div class="container-cart-item">
                                        <p class="title-in-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iusto, earum eius impedit dolorem esse maiores error nihil rerum voluptatem dolorum nam accusantium consequuntur atque, magnam laboriosam asperiores autem itaque.</p>
                                        <p class="price-in-cart">price</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="shop-cart-course">
                                    <img class="card-img-shop" src={{intro_image}} alt="">
                                    <div class="container-cart-item">
                                        <p class="title-in-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iusto, earum eius impedit dolorem esse maiores error nihil rerum voluptatem dolorum nam accusantium consequuntur atque, magnam laboriosam asperiores autem itaque.</p>
                                        <p class="price-in-cart">price</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="shop-cart-course">
                                    <img class="card-img-shop" src={{intro_image}} alt="">
                                    <div class="container-cart-item">
                                        <p class="title-in-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iusto, earum eius impedit dolorem esse maiores error nihil rerum voluptatem dolorum nam accusantium consequuntur atque, magnam laboriosam asperiores autem itaque.</p>
                                        <p class="price-in-cart">price</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="footer-total-bill">
                            <div class="total-in-cart">
                                <p class="total-price-item-text">Tổng: </p>
                                <p class="total-price-item">1,000,000 đ</p>
                            </div>
                            <a href="#" class="btn-view-cart">
                                Xem giỏ hàng
                            </a>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="heart-btn-pos">
                <div class="heart-btn-focus" id="heart-btn-click">
                    <i class="heart-btn far fa-heart" id="heart-item"></i>
                    <div class="heart_list" id="heart_list_focus">
                        <i class="list_fa far fa-heart"></i>
                        <p>Bạn chưa có khóa học trong danh sách yêu thích</p>
                    </div>
                </div>
            </div>
            <div class="bell-btn-pos">
                <i class="bell-btn far fa-bell"></i>
            </div>
            <div class="sign-in__btn">
                <a href="/account/login"><button class="sign-in-bg">Đăng nhập</button></a>
            </div>
            <div class="sign-up__btn">
                <a href="/account/register"><button class="sign-up-bg">Đăng ký</button></a>
            </div>
        </div>
    </div>
    <div>
        <section>
            <div class="container-category">
                {{>category-adver}}
            </div>
            <div class="title-top-course">
                <a href="#" class="title-name">Top khóa học nổi bật</a>
            </div>
            <div class="container-product-home">
                {{>product}}
            </div>
            <div class="title-top-course">
                <a href="#" class="title-name">Top bán chạy</a>
            </div>
            <div class="container-product-home">
                {{>product_top8}}
            </div>
            <div class="title-top-course">
                <a href="#" class="title-name">Kinh doanh khởi nghiệp</a>
            </div>
            <div class="container-product-home">
                <div class="img-top-business-container">
                    <img src="images/top_kinh_doanh.jpg" alt="" class="img-top-business">
                </div>
                {{>product_topbs}}
            </div>
        </section>
    </div>
    {{>footer-index}}
    <script src="javascript/menu-hover.js"></script>
    <script>
        console.log(this.product_popular);
    </script>
</body>
</html>