<form>
    <div style="width:90%;margin-left:50px;">
        <div class="title">Thông tin cá nhân</div>
        <div class="avatar-block">
            <div id="avatar-upload"><img src="images/BecomeInstructor/nad.jpg" alt="Avatar" class="rounded-circle avatar-size"></div>
            <div class="text">
                <div class="username">Nguyễn Anh Duy</div>
                <div class="teacher-info clearfix">
                    <div class="teacher-id">
                        <div class="tc-title">Mã giảng viên:</div>
                        <div class="tc-value"></div>
                    </div>
                    <div class="teacher-id">
                        <div class="tc-title">Ngày tham gia:</div>
                        <div class="tc-value"><time datetime="1607052597177">04/12/2020</time></div>
                    </div>
                    <div class="teacher-id">
                        <div class="tc-title">Pháp nhân kí hợp đồng:</div>
                        <div class="tc-value">EDM</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-info-1">
            <div class="input-box">
                <div class="label"><label for="username">Họ và tên</label></div>
                <input value="Nguyễn Anh Duy" type="text" name="username" id="username" class="input-type">
            </div>
            <div class="input-box">
                <div class="label">Giới tính</div>
                <div class="choose-gender">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="nam" value="nam" checked>
                        <label class="form-check-label" for="nam">Nam</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="nu" value="nu">
                        <label class="form-check-label" for="nu">Nữ</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="khac" value="khac">
                        <label class="form-check-label" for="khac">Khác</label>
                    </div>
                </div>
            </div>
            <div class="input-box">
                <div class="label"><label for="sdt">Số điện thoại</label></div>
                <input type="text" name="sdt" class="input-type">
            </div>
            <div class="input-box">
                <div class="label"><label for="datepicker">Ngày sinh</label></div>
                <input id="datepicker" name="dob" width="276" />
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                </script>
            </div>
            <div class="input-box">
                <div class="label"><label for="diachi">Địa chỉ</label></div>
                <input type="text" name="diachi" id="diachi" class="input-type">
            </div>
            <div class="input-box">
                <div class="label"><label for="email">Email đăng ký tài khoản</label></div>
                <input value="phucyugi@gmail.com" type="email" name="email" id="email" class="input-type">
            </div>
        </div>
        <div class="basic-info-2">
            <div class="tieusu-box">
                <div class="label">Tiểu sử giảng viên</div>
                <div class="input-container">
                    <input placeholder="VD: Được biết đến không chỉ là một giảng viên xuất sắc của Khoa Quản trị Kinh doanh" class="input-element" value="">
                    <button class="remove"><i class="fas fa-times-circle    "></i></button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit">Lưu</button>
    </div>
</form>