<header>
    {{>search-header}}
    <div class="header-top">
        <ul class="direction">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">root-dir</a></li>
            <li><a href="#">main dir</a></li>
        </ul>
    </div>
    <div class="header-bot">

    </div>
</header>
<main>

</main>
<footer>
    {{>footer-index}}
</footer>