<div class="card-product">
    <div class="img-with-deal">
        <img class="card-img" src="images/ad1.jpg" alt="">
        <div class="deal-img">
            <p>P%</p>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>