<div class="card-product">
    <a href="#">
        <div class="img-with-deal">
            <img class="card-img" src="images/productTesting.png" alt="">
            <div class="deal-img">
                <p>-50%</p>
            </div>
        </div>
        <div class="wrap-stars">
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
            <span class="number-rating"><b>4.2</b> (100)</span><!--Về sau thay đổi star và number people-->
        </div>
        <h4 class="card-title">Ts. Lê Hoàng Phúc - Chiến lược chạy deadline cùng team</h4>
    </a>
    <script>document.addEventListener('DOMContentLoaded',getRatings(4.2))</script><!--về sau tham số là tên product-->
    <div class="card-body">
        <a href="#" class="card-text-author">
            <img class="author-img" src="images/BecomeInstructor/ltn.jpg" alt="">
            <p class="author-name">Lê Hoàng Phúc</p>
        </a>
        <div class="price">
            <div class="real-price">500,000 đ</div>
            <div class="reduce-price">249,999 đ</div>
        </div>
    </div>
</div>